body {
  background-color: black;
  color: blanchedalmond;
}

nav {
  background: darkgray;
  display: flex;
}

a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: darkgray;
}

.active {
  background-color: lightgray;
}
